@(message: String)

@main("Quick Resume Generator") {
    <div class="container">
        <h1>Quick Resume Generator</h1>
        <div class="jumbotron">
            <form class="form-horizontal" action="" method="post">
                <fieldset>
                    <legend>Enter your credentials below to create your web resume:</legend>
                        <!-- Name input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="name">Name</label>
                        <div class="col-md-9">
                            <input id="name" name="resume.name" type="text" placeholder="Your name" class="form-control">
                        </div>
                    </div>

                        <!-- Email input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="email">Your E-mail</label>
                        <div class="col-md-9">
                            <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
                        </div>
                    </div>

                        <!-- Form actions -->
                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
}
